@use "/mixin" as*;

header {
    position: relative;
    color: white;
    min-height: 100vh;

    .header-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        opacity: 0;
        transform: translateY(40px);
        animation: headerAnim 1.5s forwards;


        @keyframes headerAnim {
            to {
                transform: translateY(0);
                opacity: 1;
            }
        }

        h1 {
            @include title;
            font-size: 4rem;
            letter-spacing: 6px;
        }
    }

    nav {
        position: absolute;
        bottom: 0;
        display: flex;
        flex-direction: row;
        background: white;
        width: 100%;
        justify-content: center;
        align-items: center;

    }
}